* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.p-15 {
  padding: 15px;
}

.plr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.p-20 {
  padding: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.position-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.input-setting {
  border: none;
  outline: none;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 767px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.main-button {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  background-color: #ee1515;
  color: #fff;
  border-radius: 0 200px;
  padding: 11px 57px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  text-align: center;
}

.main-button::before {
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: rgba(24, 9, 53, 0.77);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  z-index: -1;
}

.main-button:hover::before {
  transform: translateY(-5px);
  opacity: 1;
}

header {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(26, 10, 56, 0.53);
}

header .container .head-1 {
  padding-top: 25px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  color: #fff;
}

header .container .head-1 .icons,
header .container .head-1 .login {
  display: flex;
  gap: 50px;
}

header .container .head-1 .icons p {
  cursor: pointer;
}

header .container .head-1 .icons p i {
  color: #ee1515;
  margin-right: 15px;
}

header .container .head-1 .login {
  align-items: center;
}

header .container .head-1 .login .log {
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.5s;
}

header .container .head-1 .login .log:hover {
  color: rgba(255, 255, 255, 0.5019607843);
}

header .container .head-1 .login .log i {
  color: #ee1515;
  margin-right: 15px;
}

header .container .head-1 .login .social {
  vertical-align: middle;
  display: flex;
  align-items: center;
  gap: 20px;
}

header .container .head-1 .login .social i {
  display: flex !important;
  width: 40px;
  height: 40px;
  border: 1px solid #ee1515;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

header .container .head-1 .login .social i:hover {
  background-color: #ee1515;
}

header .container nav {
  padding-top: 10px;
  padding-bottom: 45px;
  height: 60px;
}

header .container nav ul {
  display: flex;
  transform: translateY(10px);
}

header .container nav ul li a {
  display: block;
  padding: 8px 13px;
  color: #fff;
  text-transform: uppercase;
  margin-right: 10px;
}

header .container nav ul li a.links:hover.links::before {
  width: calc(100% - 10px);
}

header .container nav ul li a.links:hover.links::after {
  opacity: 1;
}

header .container nav ul li a.links {
  position: relative;
}

header .container nav ul li a.links.links::after,
header .container nav ul li a.links.links::before {
  position: absolute;
  content: "";
}

header .container nav ul li a.links.links::before {
  width: 0%;
  height: 5px;
  background-color: #ee1515;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.5s;
}

header .container nav ul li a.links.links::after {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #ee1515;
  opacity: 0;
  transition: opacity 0.5s;
}

header .container nav ul li a:not(.links) {
  transition: color 0.5s;
}

header .container nav ul li a:not(.links):not(.links):hover {
  color: #ee1515;
}

header .container nav .toggle {
  cursor: pointer;
}

header .container nav .toggle i {
  font-size: 25px;
  color: #fff;
}

.height {
  height: 350px !important;
}

@media (min-width: 1200px) {
  header .container nav .logo {
    width: auto;
  }
}

@media (min-width: 992px) {
  header .container nav img {
    transform: translateY(5px);
    width: 135px;
  }

  header .container nav ul li:last-of-type {
    display: none;
  }

  header .container nav .toggle {
    display: none;
  }
}

@media (max-width: 991px) {
  header .container nav ul {
    position: absolute;
    transition: height 0.5s;
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    top: 140px;
    left: 0;
    background-color: rgba(26, 10, 56, 0.53);
  }

  header .container nav ul li:first-of-type {
    margin-top: 10px;
  }

  header .container nav ul li:last-of-type {
    margin-top: 10px;
  }

  header .container nav ul li:last-of-type form {
    justify-content: center;
    display: flex;
  }

  header .container nav ul li:last-of-type form input {
    padding: 10px 25px;
  }

  header .container nav ul li:last-of-type form input[type=submit] {
    cursor: pointer;
    color: #fff;
    background-color: #ee1515;
    border: 1px solid transparent;
    transition: color 0.5s, background-color 0.5s, border 0.5s;
  }

  header .container nav ul li:last-of-type form input[type=submit]:hover {
    border: 1px solid #ee1515;
    border-left-color: transparent;
    color: #ee1515;
    background-color: #fff;
  }

  header .container nav ul li a {
    text-align: center;
  }

  header .container nav ul li a.links.links::before,
  header .container nav ul li a.links.links::after {
    display: none;
  }

  header .container nav .toggle {
    display: block;
  }
}

@media (max-width: 767px) {
  header .container .head-1 .login .social {
    display: none;
  }

  header .container nav ul {
    top: 118.5px;
  }
}

@media (max-width: 576px) {
  header .container .head-1 {
    display: none !important;
  }

  header .container nav {
    padding: 0;
  }

  header .container nav ul {
    top: 50px;
  }
}

.landing {
  height: 100vh;
  background-image: url(../Images/landing.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.landing .container .slider .slider-track {
  margin-top: 70px;
  display: flex;
  transition: 1s;
}

.landing .container .slider .slider-track .text {
  width: 100%;
}

.landing .container .slider .slider-track .text h1 {
  text-transform: uppercase;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-shadow: 0 2px 5px #333;
  color: #fff;
}

.landing .container .slider .slider-track .text h1 span {
  display: block;
}

.landing .container .slider .slider-track .text p {
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 30px;
  padding-right: 60px;
  margin-bottom: 30px;
  color: #170936;
  background-color: rgba(255, 255, 255, 0.51);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 200px;
}

.landing .container .slider .slider-track .text .links {
  display: flex;
  -moz-column-gap: 30px;
  column-gap: 30px;
  margin-top: 50px;
}

.landing .container .arrows {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
}

.landing .container .arrows i {
  cursor: pointer;
  color: #fff;
  font-size: 50px;
}

.landing .container .arrows i:first-of-type {
  margin-left: 20px;
}

.landing .container .arrows i:last-of-type {
  margin-right: 20px;
}

@media (max-width: 576px) {
  .landing .container .slider .slider-track .text h1 {
    font-size: 25px !important;
    text-align: center;
  }

  .landing .container .slider .slider-track .text h1 span {
    display: inline !important;
  }

  .landing .container .slider .slider-track .text p {
    border-radius: 0;
    line-height: 2;
    font-size: 12px;
  }

  .landing .container .slider .slider-track .text .links a {
    border-radius: 0;
  }

  .landing .container .slider .slider-track .text .arrows {
    justify-content: center;
    -moz-column-gap: 50px;
    column-gap: 50px;
    top: 90%;
  }

  .landing .container .slider .slider-track .text .arrows i {
    margin: 0 !important;
  }

  .landing .container .arrows {
    -moz-column-gap: 60px;
    column-gap: 60px;
    justify-content: center;
    top: 90%;
  }
}

.choose .container article {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 90px;
  display: flex;
  align-items: center;
  gap: 15px;
  opacity: 0;
  transform: translateY(70px);
  transition: 0.5s;
}

.choose .container article .text h3 {
  font-weight: 800;
  letter-spacing: 1.5px;
  font-size: 25px;
  margin-bottom: 15px;
}

.choose .container article::before {
  opacity: 1;
  transition: none;
  transform: translateY(-20px);
}

.choose .container .head {
  margin-top: 80px;
  text-align: center;
}

.choose .container .head p {
  text-transform: uppercase;
  color: #777;
  letter-spacing: 2px;
}

.choose .container .head h3 {
  text-transform: uppercase;
  letter-spacing: 2;
  color: #170936;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 50px;
}

.choose .container .services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  margin-bottom: 100px;
}

.choose .container .services .service {
  display: flex;
  gap: 15px;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(50px);
}

.choose .container .services .service .text h4 {
  color: #170936;
  padding-bottom: 15px;
  border-bottom: 2px solid #aaa;
}

.choose .container .services .service .text p {
  line-height: 1.7;
  color: #999;
  margin-top: 10px;
}

.my-effect {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

@media (max-width: 767px) {
  .choose .container article {
    margin: 0;
    flex-direction: column;
    border-radius: 0;
  }

  .choose .container article .text {
    text-align: center;
  }

  .choose .container article .text p {
    line-height: 1.7;
  }
}

@media (max-width: 576px) {
  .choose .container article {
    width: calc(100% + 30px);
    margin-left: -15px;
  }

  .choose .container .head h3 {
    font-size: 35px;
  }

  .choose .container .services .service {
    flex-direction: column;
    align-items: center;
  }

  .choose .container .services .service .text {
    text-align: center;
  }
}

.about {
  overflow: hidden;
  background-color: #fafafa;
}

.about .container {
  display: flex;
  gap: 50px;
}

.about .container .col:first-of-type {
  transition: transform 1s;
  transform: translateX(-100vw);
}

.about .container .col:first-of-type small {
  text-transform: uppercase;
  color: #ee1515;
  letter-spacing: 2px;
  font-weight: bold;
}

.about .container .col:first-of-type h3 {
  text-transform: uppercase;
  color: #170936;
  font-size: 50px;
  letter-spacing: 1.5;
  margin-top: 20px;
  margin-bottom: 50px;
}

.about .container .col:first-of-type p {
  color: #777;
  line-height: 2;
}

.about .container .col:first-of-type .details {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 70px;
}

.about .container .col:first-of-type .details .offer {
  display: flex;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.about .container .col:first-of-type .details .offer h5 {
  font-size: 20px;
  color: #170936;
  text-transform: uppercase;
}

.about .container .col:first-of-type .details .offer i {
  font-size: 30px;
  color: #ee1515;
}

.about .container .col:first-of-type a.main-button {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0 25px;
}

.about .container .col:last-of-type {
  transition: transform 1s;
  transform: translateX(100vw);
}

.about .container .col:last-of-type .picture {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.about .container .col:last-of-type .picture img:last-of-type {
  border-top: 25px solid #fff;
  border-right: 25px solid #fff;
  position: absolute;
  bottom: 0;
  left: -50px;
}

.my-effect {
  transform: translateX(0);
}

@media (max-width: 991px) {
  .about .container {
    flex-direction: column;
  }

  .about .container .col:first-of-type {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }

  .about .container .col:first-of-type h3 {
    text-align: center;
  }

  .about .container .col:first-of-type h3 br {
    display: none;
  }

  .about .container .col:first-of-type p {
    text-align: center;
  }

  .about .container .col:last-of-type .picture {
    margin: auto;
  }
}

@media (max-width: 576px) {
  .about .container .col:first-of-type h3 {
    font-size: 30px;
  }

  .about .container .col:first-of-type .details {
    flex-direction: column;
  }

  .about .container .col:last-of-type .picture {
    width: 100%;
    text-align: center;
  }

  .about .container .col:last-of-type .picture img:first-of-type {
    width: 80%;
  }

  .about .container .col:last-of-type .picture img:last-of-type {
    left: 0;
  }
}

.products {
  overflow: hidden;
}

.products .container .posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 15px;
}

.products .container .posts .box {
  display: flex;
  gap: 15px;
  width: calc((100% - 15px) / 2);
  padding-left: 15px;
  padding-right: 15px;
  transition: transform 0.75s;
}

.products .container .posts .box:nth-of-type(odd) {
  transform: translateX(-100vw);
}

.products .container .posts .box:nth-of-type(odd) .text {
  align-items: flex-end;
}

.products .container .posts .box:nth-of-type(odd) .text h3 {
  text-align: right;
}

.products .container .posts .box:nth-of-type(even) {
  transform: translateX(100vw);
}

.products .container .posts .box .text {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.products .container .posts .box .text h3 {
  color: #170936;
  font-weight: normal;
  font-size: 1.75rem;
  transition: font-weight 0.25s;
}

.products .container .posts .box .text h3:hover {
  font-weight: bold;
}

.products .container .posts .box .text small,
.products .container .posts .box .text p a {
  color: #777;
}

.products .container .posts .box .text a {
  transition: 0.5s;
}

.products .container .posts .box .text a:hover {
  color: #170936;
  text-decoration: underline;
}

.products .container .posts .box .text i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #eee;
  transition: 0.5s;
  display: flex !important;
  cursor: pointer;
}

.products .container .posts .box .text i:hover {
  color: #fff;
  background-color: #ee1515;
}

.products .container a {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0 15px;
}

.my-effect {
  transform: translateX(0);
}

@media (max-width: 991px) {
  .products .container .posts {
    flex-direction: column;
    align-items: center;
  }

  .products .container .posts .box {
    width: auto;
  }
}

@media (max-width: 767px) {
  .products .container .posts .box {
    flex-direction: column;
  }

  .products .container .posts .box:nth-of-type(odd) {
    align-items: flex-end;
  }
}

.feature {
  background-color: rgb(38, 38, 75);
  color: #fff;
  overflow: hidden;
}

.feature .container {
  display: flex;
  gap: 50px;
}

.feature .container .col:first-of-type {
  transition: transform 0.5s;
  transform: translateX(-100vw);
}

.feature .container .col:first-of-type .template {
  color: #ee1515;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.feature .container .col:first-of-type h2 {
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 50px;
}

.feature .container .col:first-of-type h2 span {
  display: block;
}

.feature .container .col:first-of-type p {
  color: #ddd;
  line-height: 1.7;
}

.feature .container .col:first-of-type h3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.feature .container .col:first-of-type .web {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.feature .container .col:last-of-type {
  transform: translateX(100vw);
  width: 100%;
  display: flex;
  transition: transform 0.5s;
}

.feature .container .col:last-of-type a {
  transition: 0.5s;
  transform: translateY(100px);
  opacity: 0;
  position: relative;
}

.feature .container .col:last-of-type a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.feature .container .col:last-of-type a::before,
.feature .container .col:last-of-type a::after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}

.feature .container .col:last-of-type a::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.feature .container .col:last-of-type a::after {
  content: "\f04b";
  border: 3px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Font Awesome 6 Free";
  font-size: 25px;
  font-weight: 900;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feature .container .col:last-of-type a:hover::before,
.feature .container .col:last-of-type a:hover::after {
  opacity: 1;
}

.feature .container .col:last-of-type div {
  display: flex;
  flex-direction: column;
}

.feature .container .col:last-of-type div a {
  flex: 1;
}

.my-effect {
  transform: translateX(0);
}

.my-effect2 {
  transform: translateY(0) !important;
  opacity: 1 !important;
}

@media (max-width: 991px) {
  .feature .container {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .feature .container .col:first-of-type h2 {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .feature .col:first-of-type h2 {
    font-size: 30px !important;
    margin-bottom: 50px !important;
  }
}

.price .container .definition {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ee1515;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}

.price .container h2 {
  text-align: center;
  text-transform: uppercase;
  color: #170936;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.price .container .prices {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 30px;
}

.price .container .prices .buy {
  transition: 0.5s;
  transform: translateY(200px);
  opacity: 0;
  background-color: rgb(38, 38, 75);
  color: #fff;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 30px 10px;
}

.price .container .prices .buy:hover svg {
  transform: scale(20);
}

.price .container .prices .buy:hover .head p,
.price .container .prices .buy:hover .body p {
  color: #fff;
}

.price .container .prices .buy:hover .head a,
.price .container .prices .buy:hover .body a {
  box-shadow: 0 10px 15px #333;
}

.price .container .prices .buy span {
  position: absolute;
  top: 10px;
  right: 5px;
  color: #fff;
  z-index: 3;
  text-transform: uppercase;
  font-size: 18px;
}

.price .container .prices .buy svg {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 150px;
  z-index: -1;
  transition: transform 0.5s;
}

.price .container .prices .buy .head {
  flex-direction: column;
  border-bottom: 2px solid #333;
  padding-top: 50px;
  padding-bottom: 35px;
}

.price .container .prices .buy .head h3 {
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px;
}

.price .container .prices .buy .head p {
  color: #9d9d9d;
  font-size: 25px;
  text-align: center;
}

.price .container .prices .buy .body {
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.price .container .prices .buy .body p {
  transition: color 0.5s;
  color: #9d9d9d;
  text-align: center;
  margin-bottom: 25px;
}

.price .container .prices .buy .body .money {
  font-size: 50px;
  margin-bottom: 25px;
}

.price .container .prices .buy .body a {
  border-radius: 0 20px;
  padding: 20px 60px;
}

.my-effect {
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 767px) {
  .price .container .prices {
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

  .price .container .prices .buy:nth-of-type(2) {
    padding-bottom: 30px;
  }
}

.design {
  background-image: url(../Images/testimonial-background.png);
  background-size: cover;
  background-color: #ee1515;
  position: relative;
  overflow: hidden;
}

.design .container .slideing {
  padding-top: 95px;
  padding-bottom: 95px;
  border-bottom: 3px solid #170936;
}

.design .container .slideing .slider .slider-track {
  transition: transform 1s;
}

.design .container .slideing .slider .slider-track .box {
  width: 100%;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  align-items: center;
}

.design .container .slideing .slider .slider-track .box img {
  border-radius: 50%;
  height: 90px;
  width: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.5s;
  transform: translateY(50px);
  opacity: 0;
}

.design .container .slideing .slider .slider-track .box h5 {
  color: #170936;
  font-size: 25px;
  transition: 0.5s 0.2s;
  transform: translateY(50px);
  opacity: 0;
}

.design .container .slideing .slider .slider-track .box small {
  transition: 0.5s 0.4s;
  transform: translateY(50px);
  opacity: 0;
}

.design .container .slideing .slider .slider-track .box p {
  color: #fff;
  text-align: center;
  line-height: 1.7;
  transition: 0.5s 0.6s;
  transform: translateY(50px);
  opacity: 0;
}

.design .container .slideing .track {
  display: flex;
  justify-content: center;
  -moz-column-gap: 15px;
  column-gap: 15px;
  transform: translateY(50px);
  transition: 0.5s 0.8s;
  opacity: 0;
}

.design .container .slideing .track span {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #170936;
  cursor: pointer;
}

.design .container .image-slider {
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 70px;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.5s 1s;
}

.design .container .image-slider .slider {
  width: 200%;
  display: flex;
}

.design .container .image-slider .slider figure {
  width: 100%;
  text-align: center;
}

.active {
  background-color: #fff !important;
}

.my-effect {
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.my-effect-track {
  transform: translateY(25px) !important;
  opacity: 1 !important;
}

.article {
  margin-top: 50px;
  margin-bottom: -20px;
  opacity: 0;
  transform: translateY(200px);
  transition: 0.5s;
}

.article .container {
  background-color: #ee1515;
  padding-top: 30px;
  padding-bottom: 90px;
  position: relative;
  border-radius: 0 150px;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 90px;
  padding-left: 50px;
  padding-right: 50px;
}

.article .container::before {
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  background-color: rgba(24, 9, 53, 0.77);
  transform: translateY(-20px);
  border-radius: inherit;
}

.article .container .text {
  color: #fff !important;
}

.article .container .text h4 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 30px;
}

.article .container .text p {
  font-size: 18px;
}

.article .container a.main-button {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .design .container .image-slider .slider {
    width: calc(340% - 50px);
  }

  .article {
    margin: 0;
  }

  .article .container {
    border-radius: 0;
    flex-direction: column;
    row-gap: 30px;
  }

  .article .container .text {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .design .container .image-slider .slider {
    width: 500%;
  }
}

.tweet {
  background-image: url(../Images/footer-background-image.png);
  background-size: cover;
  background-color: #26264b;
  overflow: hidden;
}

.tweet .container {
  display: flex;
  flex-wrap: wrap;
}

.tweet .container .col {
  width: 25%;
  color: #fff;
  transform: translateY(200px);
  opacity: 0;
  transition: 0.5s;
}

.tweet .container .col p {
  color: #aaa;
}

.tweet .container .col h4:first-of-type {
  text-transform: uppercase;
  margin-bottom: 50px;
}

.tweet .container .col:first-of-type .subscribe {
  line-height: 1.7;
  margin-bottom: 20px;
}

.tweet .container .col:first-of-type .section {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}

.tweet .container .col:first-of-type .section i {
  color: #ee1515;
}

.tweet .container .col:first-of-type .section .text h5 {
  margin-bottom: 10px;
  font-size: 1rem;
}

.tweet .container .col:first-of-type .section .text p {
  line-height: 1.7;
}

.tweet .container .col:first-of-type .section .text a {
  color: #aaa;
}

.tweet .container .col:first-of-type .section .text a:hover {
  text-decoration: underline;
}

.tweet .container .col:nth-of-type(2) .section {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.tweet .container .col:nth-of-type(2) .section i {
  color: #aaa;
}

.tweet .container .col:nth-of-type(2) .section .text a {
  color: #ee1515;
  transition: 0.5s;
  font-weight: bold;
}

.tweet .container .col:nth-of-type(2) .section .text a:hover {
  color: brown;
}

.tweet .container .col:nth-of-type(2) .section .text span {
  color: #aaa;
}

.tweet .container .col:nth-of-type(2) .section .text p {
  color: #fff;
  margin-top: 20px;
}

.tweet .container .col:nth-of-type(3) .section {
  display: flex;
  margin-bottom: 20px;
}

.tweet .container .col:nth-of-type(3) .section .image img {
  width: 68px;
  height: 68px;
  border-radius: 4px;
  -o-object-fit: cover;
  object-fit: cover;
}

.tweet .container .col:nth-of-type(3) .section .text {
  margin-left: 14px;
}

.tweet .container .col:nth-of-type(3) .section .text h6 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.tweet .container .col:nth-of-type(3) .section .text .icons {
  display: flex;
  gap: 15px;
}

.tweet .container .col:nth-of-type(3) .section .text .icons i {
  color: #ee1515;
  margin-right: 5px;
  font-size: 13px;
}

.tweet .container .col:last-of-type .skills {
  margin-bottom: 25px;
}

.tweet .container .col:last-of-type .skills p {
  cursor: pointer;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 12px;
  margin-left: 10px;
  margin-top: 10px;
  color: rgb(170, 170, 170);
  background-color: #363636;
  border-radius: 2px;
  transition: 0.5s;
  font-weight: bold;
}

.tweet .container .col:last-of-type .skills p:hover {
  background-color: #ee1515;
  color: #fff;
}

.tweet .container .col:last-of-type h4:last-of-type {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.tweet .container .col:last-of-type .sign {
  line-height: 1.7;
  margin-bottom: 20px;
}

.tweet .container .col:last-of-type form {
  position: relative;
}

.tweet .container .col:last-of-type form input {
  width: 100%;
  background-color: #444;
  padding: 15px;
  caret-color: #fff;
  border-top-right-radius: 20px;
}

.tweet .container .col:last-of-type form input::-moz-placeholder {
  color: #ee1515;
}

.tweet .container .col:last-of-type form input::placeholder {
  color: #ee1515;
}

.tweet .container .col:last-of-type form input:focus {
  background-color: transparent;
}

.tweet .container .col:last-of-type form button {
  position: absolute;
  background-color: #ee1515;
  height: 100%;
  padding: 0 24px;
  cursor: pointer;
  border-radius: 0px 20px;
  right: 0;
}

.tweet .container .col:last-of-type form button::before {
  position: absolute;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 25px;
  color: #fff;
  content: "\f00c";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tweet .container .col:last-of-type .respect {
  margin-top: 15px;
  margin-bottom: 15px;
}

.tweet .container .col:last-of-type .socials {
  display: flex;
  gap: 20px;
}

.tweet .container .col:last-of-type .socials i {
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-color: #444;
  color: #ddd;
  transition: 0.5s;
  display: flex !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px;
}

.tweet .container .col:last-of-type .socials i:hover {
  color: #fff;
  background-color: #ee1515;
}

footer {
  overflow: hidden;
  padding: 30px;
  background-color: #ee1515;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .container p {
  color: #fff;
}

footer .container p:first-of-type {
  transform: translateX(-300px);
  opacity: 0;
  transition: 0.5s 0.75s;
}

footer .container p:last-of-type {
  display: flex;
  gap: 50px;
  transform: translateX(300px);
  opacity: 0;
  transition: 0.5s 1s;
}

footer .container p:last-of-type a {
  color: #fff;
}

footer .container p:last-of-type a:hover {
  text-decoration: underline;
}

.my-effect {
  transform: translate(0, 0) !important;
  opacity: 1 !important;
}

@media (max-width: 991px) {
  .tweet .container .col {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .tweet .container .col {
    width: 100%;
  }
}

@media (max-width: 576px) {
  footer .container {
    flex-direction: column;
    row-gap: 30px;
  }

  footer .container p {
    text-align: center;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

/*# sourceMappingURL=project_3.css.map */